body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 100%;
}
#userslist {
  text-align: center;
  font-size: 3rem;
}
.button {
  font-size: 1rem;
  padding: 1% 4%;
  text-align: center;
  border: none;
  background-color: #298529;
  color: white;
  border-radius: 20px;
  margin: 2% auto;
  display: block;
}
.list {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  list-style: none;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list li {
  padding: 0.2rem 0 0 2rem;
  text-align: center;
  margin: 0.5rem;
  background-color: beige;

  display: flex;
  justify-content: space-around;
}
.list li p {
  font-size: 1.5rem;
  width: 50%;
  text-align: initial;
}
.list li .contact {
  color: rgb(105, 91, 91);
  font-size: 1.2rem;
  width: 50%;
  text-align: initial;
}

#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
